/* ************************************************
                Home Page
 *************************************************/

nav {
  margin: 0 auto;
  max-width: 45.5em;
  background-color: #003779;
  font-family: 'Montserrat', sans-serif;
}

.ham {
  grid-column: 3/3;
  grid-row: 1/2;
  border: 1px solid black;
  align-self: center;
  justify-self: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
  background-color: #007eb1;
  color: #FFFFFF;
  height: 35px;
  width: 35px;
}

#navigation {
  list-style: none;
  padding: 0;
  grid-template-columns: auto;
  display: grid;
  font-size: 1em;
}

#navigation li {
  display: none;
}

#navigation a {
  display: block;
  padding: 1em;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
}

#navigation a:hover,
#navigation a.active:hover {
  color: #FFFFFF;
  background-color: #C3D1F8;
}

#navigation a.active {
  background-color: #C3D1F8;
  color: #FFFFFF;
}

#navigation.responsive li {
  display: block;
}

header {
  background-color: white;
  padding-bottom: .5em;
  padding-top: .5em;
  padding-left: .5em;
  max-width: 45.5em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/1;
}

.intro {
  margin: 8px;
  display: grid;
  grid-template-rows: 20px 200px 25px;
  }

body {
  background-color: #007eb1;
}

header a,
header a:link,
header a:hover,
header a:active,
header a:focus {
    color: black;
}

main {
  max-width: auto;
  margin: 0 auto;
  padding-right: 0;
  padding-bottom: 0;
}

p,
ul,
ol {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    color: #FFFFFF;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 1.9em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.1em;
}

#slideshow {
  margin: 50px auto;
  position: relative;
  width: 350px;
  height: 275px;
  padding: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.imgslides {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  padding: 0px;
  background-color: #003779;
}

footer a,
footer a:link,
footer a:hover,
footer a:active,
footer a:focus {
    color: black;
}

.footer-bar {
  margin-top: 1em;
  margin-bottom: .5em;
  text-align: center;
}

.footer-bar p {
  margin: 1px;
  font-size: .7em;
}

/* ************************************************
                Temples Page
 *************************************************/

#temples {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 95%;
  margin: 0 auto;
  grid-gap: 20px;
  padding-bottom: 10px;
}

#temples h2 {
  margin: 0 auto;
  padding-left: 0px;
  margin-bottom: -10px;
  background-color: white;
  color: #003779;
  border-radius: 8px;
  box-shadow: 5px 5px 3px rgb(0 0 0 / 70%);
}

#temples section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 8px;
  justify-items: center;
  text-align: center;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 20px rgb(0 0 0 / 100%);
  margin: 1em;
}

#temples h3 {
  margin: 0px;
  text-decoration: underline;
  font-size: 1.5rem;
}

#temples p {
  margin: 0 auto;
  font-size: 1.1rem;
  margin-top: 10px;

}

#temples img {
  border-radius: 5px;
  box-shadow: black 0px 0px 10px;
  max-width: 100%;
  margin-top: 10px;
  width: 300px;
  height: 275px;
  margin: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

/* ************************************************
                Reservation
 *************************************************/

#reservation main {
  max-width: 1080px;
  margin: 0 auto;
}

#reservation h1 {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#reservation form h2 {
  margin-bottom: .2em;
  margin-left: 0;
  font-family: 'Montserrat', sans-serif;
}

#reservation h2:nth-of-type(1) {
  margin-top: 0;
}

#reservation h3 {
  margin-top: 0;
  margin-left: 1.25em;
}

#reservation form {
  width: 80%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr;
  font-family: 'Montserrat', sans-serif;
}

#reservation input,
#reservation select {
  margin-bottom: 1em;
  border: 2px solid black;
  border-radius: 4px;
  padding: .7em;
}

#reservation input:focus {
  border-color: #0E6CD6;
}

.required {
  color: red;
}

.submit-btn {
  width: 350px;
  justify-self: center;
  margin-top: 1em;
  background-color: #0E6CD6;
  color: white;
  font-weight: bold;
  font-size: .9em;
  transition: 300ms;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #C3D1F8;
  color: #0E6CD6;
}

.radio {
  display: inline-block;
  padding: .5em;
}

#reservation textarea {
  border: 2px solid black;
  border-radius: 4px;
  padding: .5em;
  font-family: 'Montserrat', sans-serif;
}

#reservation label {
  font-weight: bold;
}

#thanks-main {
  text-align: center;
  color: #223352;
  border: 2px dashed #FFFFFF;
  margin: 1.5em;
  padding: .5em;
}

#thanks-main a {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #223352;
  font-weight: bold;
}

#thanks-main p {
  padding: 1em;
  padding-bottom: 0;
  padding-top: 0;
}

/* ************************************************
                Services
 *************************************************/

#services-main {
  max-width: 900px;
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 1em;
  border: 2px solid black;
  border-radius: 20px;
}

#services-main img {
  width: 100%;
  padding-top: 1%;
}

/* ************************************************
                Contact Us
 *************************************************/

 #contact-main {
  max-width: 1200px;
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 1em;
  border: 2px solid black;
  border-radius: 20px;
 }

 #company-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
 }

 #contact-form {
   grid-column: 1/2;
   grid-row: 1/1;
   border: 2px solid black;
   margin-top: 1em;
   padding-left: 1em;
   padding-bottom: 1em;
  }

 #map {
   grid-column: 2/3;
   grid-row: 1/2;
   justify-self: center;
   padding: 1em;
  }

#contact-form form {
  width: 80%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr;
  font-family: 'Montserrat', sans-serif;
}

#contact-form input,
#contact-form select {
  margin-bottom: 1em;
  border: 2px solid black;
  border-radius: 4px;
  padding: .7em;
}

#contact-form input:focus {
  border-color: #0E6CD6;
}

#btn {
  width: 350px;
  justify-self: center;
  margin-top: 1em;
  background-color: #0E6CD6;
  color: white;
  font-weight: bold;
  font-size: .9em;
  transition: 300ms;
  cursor: pointer;
}

#btn:hover {
  background-color: #C3D1F8;
  color: #0E6CD6;
}

#contact-form textarea {
  border: 2px solid black;
  border-radius: 4px;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
}

#reservation label {
  font-weight: bold;
}
